# Public URL of the backend API
NEXT_PUBLIC_API_URL=https://www.my-flexBioDB-backend.com/api

# Optional: Backend API URL for local development
# NEXT_PUBLIC_API_URL=http://localhost:3000

# Public URL of the deployed flexBioDB frontend instance
# Mainly required in production; development falls back to localhost.
# So, if you are running the frontend locally, you can comment out this variable.
NEXT_PUBLIC_SITE_URL=https://www.my-flexBioDB-site.com

# Google Analytics 4 Measurement ID used to collect website traffic statistics
# Optional in development; leave empty or comment out if analytics tracking is not required.
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-MY_GA_MEASUREMENT_ID
